<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Page Info -->
  <title>Kelvin Duong ECE 140B</title>
  <meta name="author" content="Kelvin Duong">
  <meta name="description" content="140B Landing Page">

  <link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<body>

  <div class='hero'>
    <h1 id='top'> PlantPal </h1>
    <p> Landing page for my ECE 140B project </p>
  </div>

  <section class='padding-responsive'>
    <div class="flex-container">
      <div><a href="#kvp">KVP</a></div>
      <div><a href="#pp">Product Page</a></div>
      <div><a href="#fet">Features</a></div>
      <div><a href="#int">Interactions</a></div>
      <div><a href="#tm">Team Members</a></div>
      <div><a href="#up">Updates</a></div>
    </div>
    <div class='separator' id='kvp'>Key Value Proposition</div>
    <div class='update'>
      <h4>Key Value Proposition</h4>
      <p>Our plant monitoring system, PlantPal, helps amateur gardeners who wish to learn proper plant maintenance for healthier plants by displaying soil moisture, sunlight, and temperature history on our app and sending reminders and tips for plant maintenance. Unlike passive maintenance systems such as automated sprinklers, our product actively reads plant data to provide more optimate caretaking. Additionally, our product acts as a learning tool for amateur hobbyists who want to learn more about gardening</p>
    </div>
    <div class='separator' id='pp'>Product Page</div>
    <div class='cur-update'>
      <h4>Product</h4>
      <p>PlantPal is a network of devices to monitor various factors such as soil moisture, sunlight levels, and temperature to provide optimal instructions for plant maintenance. PlantPal works by taking readings from capacitive PCB, a photoresistor, and a thermistor. The capacitive PCB will stick into the soil of a plant that needs monitoring and will read voltage outputs from a pulse. Depending on the moisture content of the soil, the capacitance in the circuit changes which will distort the pulse. From these distortions, we can extrapolate the moisture content of the soil. Similarly, we will use readings from a photoresistor and a thermistor to read sunlight levels and temperature. Our product will record the history of these variables and present them graphically on our UI. Based on these readings, our product will provide instructions via reminders through our app for plant maintenance such as watering, draining, or moving locations to optimize healthy plant growth.</p>
      <h4>Customer</h4>
      <p>This product is designed for amateur hobbyists who want to get into gardening. Nowadays plants are imported from all parts of the world. Each plant thrives in different conditions and as a novice gardener, it is difficult to determine the optimate conditions for each plant to prevent them from dying. Our product acts as a trainer by providing reminders, tips, and instructions for plant maintenance for beautiful, healthy plants.</p>
      <h4>Key Benefits</h4>
      <p>A key benefit of our product is active monitoring. Because our product is constantly reading plant growth variables we're able to provide optimal instruction for plant maintenance resulting in a healthier plant. </p>

    </div>

    <div class='separator' id='fet'>Features</div>
    <div class='update'>
      <h4>1. Centralized Smartphone Hub</h4>
      <p>The biggest feature of our product is the Smartphone App. It keeps track of plant data over time, presents it to the user in an easy-to-understand format, and provides tips and reminders for plant health. The main benefit of this feature is that it teaches and trains users to build good plant taking habits and introduces them to gardening. Novice gardeners will benefit the most from this feature as it teaches them to be a better gardener. Hobbyist can also benefit from feature as it makes it easier to monitor thier plant's health.</p>
      <h4>2. Capacitive Moisture Detection</h4>
      <p>Our product will detect the moisture levels of the plant with this feature. From our second round user assessment we saw that 4/11 responses stated some sort of issue with watering their plants when asked if they had experienced any problesm taking care of plants. Over/underwatering often leads to plants dying so this is very important. The main benefit of this feature is that it informs the users if their plant has enough water and when they need to water it which reduces the odds of accidently killing the plant. Novice gardeners will benefit most from this feature as it will tell the user when/when not to water their plants.</p>
      <h4>3. Sunlight Level Reader</h4>
      <p>Our product will detect the sunlight levels the plant receives. Various plants have different needs for sunlight, too much/too little sunlight can easily kill healthy plants. The main benefit of this feature is that the tells the user the ideal placement of their plants for healthy growth reducing chances of providing too much/too little sunlight. Once again novice gardeners will benefit the most from this feature as it tells them where to place their plants for best growth.</p>
      <h4>4. Temperature Sensor</h4>
      <p>Our product will measure temperature over time in the soil and on the surface. Like the previous features, plant growth can be impacted by temperature. The man benefit of this feature is that it will notify the user when the plants are in suboptimal temperatures which can inhibit proper growth.</p>
      <h4>5. Interchangeable Tops</h4>
      <p>Our product has an optional flag on top that users can customize. The main benefits of this feature is that it labels the various plants to avoid and adds a decorative element to the product. This mostly benefits those with multiple plants as it can help avoid confusion between plants especialy in early stages when there are not distictive features between plants. This reduces human error in providing care to the wrong plants. </p>
    </div>

    <div class='separator' id='int'>Interactions</div>
    <div class='update'>
      <h4>Sensor Installation</h4>
      <p>The first thing anyone has to do when they purchase a new product is set it up. For our product this means placing the sensor properly into the soil. One visual cue for our product is the shape of it. It has T shape with a pointed bottom. This visual cue implies that the pointed section goes into the soil and the top fo the T acts as a hard stop for the product so it doesn't go too deep into the soil. The shape of the product helps with error reduction with inproper installation.</p>
      <h4>Health Tracking</h4>
      <p>The app is mean to help teach gardening skills to beginers. Because of this it is very important for the UI to be intutive so that the user is not confused. With our home page having visuals for the plants it helps the user know which plant data they are looking at. When they tap on the plant it provides more specific data and graphs. This helps with efficiency, learnabilty, and memorability. </p>
    </div>

    <div class='separator' id='tm'>Team Members</div>

    <table class='margin-top-xl'>
      <thead>
        <tr>
          <th class='small'> Name </th>
          <th class='large'> Email </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> Adin Ackerman </td>
          <td> aiackerman@ucsd.edu </td>
        </tr>
        <tr>
          <td> Michael Brown </td>
          <td> m9brown@ucsd.edu </td>
        </tr>
        <tr>
          <td> Kelvin Duong </td>
          <td> k6duong@ucsd.edu </td>
        </tr>
        <tr>
          <td> Jerome Lam </td>
          <td> j2lam@ucsd.edu </td>
        </tr>
      </tbody>
    </table>

    <div class='separator'>Project Updates</div>
    <div class='update'>
      <h3>Week 2</h3>
      <h4>Product Proposal</h4>
      <p>We would like to introduct our product PlantPal. PlantPal is a set of devices read moisture, sunlight, and temperature data to monitor the health of your plants. The devices are all connected to a centralized database which is viewable via our phone app. The product is designed to help individuals learn or improve their plant caretaking skills.</p>
      <h4>Early Market Research</h4>
      <p>We presented our initial proposal to friends and family who engjoy gardening and asked wether or not they would be interested in buying a finished product. From our poll 11/12 would be interested in our product showing that it potential for our customer base. We also asked wether they saw the product as a vitamin or painkiller and the customers were fairly split with 58.3% claiming the product was vitamin while the other 41.7 claiming the product to be a pain killer. </p>
      <h4>Plans</h4>
      <p>We are at the start of the development process so there isn't much to update regarding the project. We created a github project board for project management and set goals for our project including getting the bluetooth on our MCU to work so we can connect it our phones. </p>
    </div>

    <div class='update'>
      <h3>Week 3</h3>
      <h4>Bluetooth</h4>
      <p>This week were were able to successfully connect the ESP32 board to bluetooth and communicate with our phones. We created a simple test to turn on an LED. We successfully paired the board to the phone's bluetooth and were able to toggle the LED light remotely.</p>
      <h4>Plans</h4>
      <p>Our plan for the next week is to work on the PCB for our product. The goal is to build a capacitive circuit that will stick into the soil and read voltage values. Depending on the soil's moisture content the capacitance of the circuit will change which should affect the voltage readings. Based on this well will determine the soil's moisture content.
      <p>
    </div>

    <div class='update'>
      <h3>Week 4</h3>
      <h4>Empathy Map</h4>
      <img src="https://github.com/duongkelvin75/ece140a-kelvin-duong/blob/b2f8fb098ac48e6733bf268904826cef4c773353/web/src/public/empathy.jpg?raw=true" alt="empathy">
      <h4>Electronics</h4>
      <p>This week we made progress towards our battery charging circuit and the PCB. Initially we were set on using a solar pannel so that we would not have to recharge the battery for the device. We decided that for the interest of time we would just use a coin cell battery to power the device for this class and possibly implement a solar panel in future updates. We started making progress towards the PCB and the capacitive circuit to measure soil moisture</p>
      <h4>Plans</h4>
      <p>Our plan for the next week is to finish designing the PCB so we can place an order for it to be manufactured. After the PCB arrives we'll assemble our product's circuit board. We also have plans to work on the software for the app that interfaces with the devices to collect data.
    </div>

    <div class='update'>
      <h3>Week 5</h3>
      <h4>Mock UI</h4>
      <img src="https://github.com/duongkelvin75/ece140a-kelvin-duong/blob/master/web/src/public/Landing.png?raw=true">
      <img src="https://github.com/duongkelvin75/ece140a-kelvin-duong/blob/master/web/src/public/Profile.png?raw=true">
      <p> Here is the Mock UI for the PlantPal app. The first picture shows the landing page which has the menu of different plant. The second photos shows the profile for the individual plant which will display when the plant is selected.</p>
      <h4>Law of UI Design Examples</h4>
      <h5>Hick's Law</h5>
      <img src="https://github.com/duongkelvin75/ece140a-kelvin-duong/blob/master/web/src/public/toaster.jpg?raw=true" id='uiex'>
      <p>My Toaster oven is an example of Hick's Law. Desision making increase with the number/complexity of options. I only use it to head up croissants from costco but I don't really know what all the knobs do except for the temperature. From my experimentation the options in the middle option kind of do the same thing when heading up a croissant. The bottom know switches between pictures of toast to time which doesn't really make sense. The pictures of toast don't even correspond to levels of toast. The half toast icon burns the toast the full toast icon will turn it completely black. The interface for this toaster is too complex and the possible options are confusing. I just want to toast some croissants.</p>
      <h5>Law of Proximity</h5>
      <img src="https://github.com/duongkelvin75/ece140a-kelvin-duong/blob/master/web/src/public/keyboard.jpg?raw=true" id='uiex'>
      <p>My keyboard is an example of the law of proximity. It groups the different buttons on the keyboard into section for different uses. The main section has all the letter keys intended for typing. The arrow keys are seperate and intended for navigation. The numpad is also seperate and grouped for mathematical applications. I think the design for the keyboard which groups various buttons in different sections helps organize information for a better UI.</p>
      <h5>Doherty Threshold</h5>
      <img src="https://github.com/duongkelvin75/ece140a-kelvin-duong/blob/master/web/src/public/fan.jpg?raw=true" id='uiex'>
      <p>The remote to turn on my celing fan is an example of the doherty treshold. This remote has a very large delay, I have to hold the button for ~2 seconds for any settings on the fan to update. It is extremely annoying to use and as a result I don't use it. Because of this laggy remote I lose attention and feel like the product is not very productive despite functioning properly.</p>
      <h4>Project Updates</h4>
      <p>We made more progress with the PCB. We started working out the layout for the capacitive moisture sensor. We decided to remove the humidity sensor as it was too expensive and would double the cost of our product. As seen earlier we made progress towards our app's UI.</p>
      <h4>Plans</h4>
      <p>Similar to last week our plan for the next week is to finish designing the PCB so we can place an order for it to be manufactured. After the PCB arrives we'll assemble our product's circuit board. We have plans to start CADing the housing for the PCB once the board is finalized.
    </div>
    <div class='update'>
      <h3>Week 6</h3>
      <h4>Product Information Architecture</h4>
      <p>1. The typical user needs access to the status of the plant in regards to various environmental factors. This includes sunlight level, water moisture, and temperature. The home page will display qualitative statuses like great, good, poor, and bad. When tap on the plant it will provide more detailed quantitative data like the specific temperature or moisture percentage.</p>
      <p>2. Principle of disclosure is important for our product. We don't want to overwelm the user with a bunch of data and charts. We will present a top layer that is very simplied to show overall health and will go more into specifics as they dive deeper. The principle of exemplars is also important for our product. Our product is advertised as an educational tool for those who want to get into gardening. Because of this the IA should behave in a consistent manner to not confuse costumers as they are learning a new skill.</p>
      <p>3.I would imagine that a mix of hierarchical and topic would make sense. A hierarchy could be useful to show the plants in most dire need of attention. If a plant needs to be watered we could push it up on the interface so the user knows that particular plant needs attention. We could also classify the plants in our app by types. For example putting fruits with fruits, and succulents with succulents. </p>
      <h4>Visual Hierarchy</h4>
      <h5>Color and Contrast</h5>
      <p>On my website I use color and contrast to highlight interative features to help guide users. For example when the mouse hovers over the menu items it switches from a dull green to a very dark green. The dark green contrast the cream colored background and indicates that menu buttons perform an important task. I use this same contrast to differentiate between the weekly updates. THe previous weeks are greyed out to indicate that they are not the most recent update while the current update is a dark green to show that it is the active update.</p>
      <h5>Typographical Hierarchy</h5>
      <p>The sizing of text is also important on my website. The larger heading text indicate a significant section of the webite. Under each header is smaller subsections which are a medium font size and the paragraphs which are smaller. The sizing of the typology help emphasize which words are most important.</p>
      <h5>Spacing</h5>
      <p>Spacing helps split my webpage into sections. Each section has a divider which is mapped to the menu buttons. The space and line in between helps seperate the sections so it is clear which section of th website users are on</p>
      <h4>Project Updates</h4>
      <p>We finished the PCB and will be ordering it soon. We are currently working on the final user interface.</p>
      <h4>Plans</h4>
      <p>Our goal for this week is to finalize the wireframe design of our app. Additionally we plan to finish designing the housing now that the pcb is done.
    </div>
    <div class='cur-update' id='up'>
      <h3>Week 7</h3>
      <h4>Project Updates</h4>
      <p>We finished CADing the housing the the PCB. We have ordered the PCB and we're waiting for it to arrive in the mail. </p>
      <h4>Plans</h4>
      <p>Our goal for this week is to 3D print the new housing. Once we receive the PCB we will assemble our product and start testing the PCB.
    </div>
    <div class='upcoming'>
      <p>Come back next week for more updates</p>
    </div>
    <a href="#top">Back To The Top</a>
    <div class='separator'>
      Survey
    </div>
    <section class='responsive_grid'>

      <div class='field'>
        <label> Enter your first name: &nbsp;</label>
        <input type='text' name='name' value='' class='margin-top-lg'>
      </div>
    </section>

    <section class='responsive_grid'>
      <div class="field">
        <label> Do you like this page? </label>
        <label class="margin-top-lg control control--checkbox">Yes
          <input type="checkbox" checked="checked" />
          <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox">No
          <input type="checkbox" />
          <div class="control__indicator"></div>
        </label>
      </div>

      <div class="field">
        <label> Are you having a good day? </label>
        <label class="margin-top-lg control control--radio">Yes
          <input type="radio" name="radio" checked="checked" />
          <div class="control__indicator"></div>
        </label>
        <label class="control control--radio">No
          <input type="radio" name="radio" />
          <div class="control__indicator"></div>
        </label>
      </div>
    </section>

    </form>

  </section>
</body>

</html>