<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Page Info -->
  <title>Kelvin Duong ECE 140B</title>
  <meta name="author" content="Kelvin Duong">
  <meta name="description" content="140B Landing Page">

  <link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<body>

  <div class='hero'>
    <h1> PlantPal </h1>
    <p> Landing page for my ECE 140B project </p>
  </div>

  <section class='padding-responsive'>

    <div class='separator'>Team Members</div>

    <table class='margin-top-xl'>
      <thead>
        <tr>
          <th class='small'> Name </th>
          <th class='large'> Email </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> Adin Ackerman </td>
          <td> aiackerman@ucsd.edu </td>
        </tr>
        <tr>
          <td> Michael Brown </td>
          <td> m9brown@ucsd.edu </td>
        </tr>
        <tr>
          <td> Kelvin Duong </td>
          <td> k6duong@ucsd.edu </td>
        </tr>
        <tr>
          <td> Jerome Lam </td>
          <td> j2lam@ucsd.edu </td>
        </tr>
      </tbody>
    </table>

    <div class='separator'>Project Updates</div>
    <div class='update'>
      <h3>Week 2</h3>
      <h4>Product Proposal</h4>
      <p>We would like to introduct our product PlantPal. PlantPal is a set of devices read moisture, sunlight, and temperature data to monitor the health of your plants. The devices are all connected to a centralized database which is viewable via our phone app. The product is designed to help individuals learn or improve their plant caretaking skills.</p>
      <h4>Early Market Research</h4>
      <p>We presented our initial proposal to friends and family who engjoy gardening and asked wether or not they would be interested in buying a finished product. From our poll 11/12 would be interested in our product showing that it potential for our customer base. We also asked wether they saw the product as a vitamin or painkiller and the customers were fairly split with 58.3% claiming the product was vitamin while the other 41.7 claiming the product to be a pain killer. </p>
      <h4>Plans</h4>
      <p>We are at the start of the development process so there isn't much to update regarding the project. We created a github project board for project management and set goals for our project including getting the bluetooth on our MCU to work so we can connect it our phones. </p>
    </div>
    <div class ='upcoming'>
      <p>Come back next week for more updates</p>
    </div>
    <div class='separator'>
        Survey
      </div>
        <section class='responsive_grid'>

          <div class='field'>
            <label> Enter your first name: &nbsp;</label>
            <input type='text' name='name' value='' class='margin-top-lg'>
          </div>
        </section>

        <section class='responsive_grid'>
          <div class="field">
            <label> Do you like this page? </label>
            <label class="margin-top-lg control control--checkbox">Yes
              <input type="checkbox" checked="checked" />
              <div class="control__indicator"></div>
            </label>
            <label class="control control--checkbox">No
              <input type="checkbox" />
              <div class="control__indicator"></div>
            </label>
          </div>

          <div class="field">
            <label> Are you having a good day? </label>
            <label class="margin-top-lg control control--radio">Yes
              <input type="radio" name="radio" checked="checked" />
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">No
              <input type="radio" name="radio" />
              <div class="control__indicator"></div>
            </label>
          </div>
        </section>

      </form>

    </section>
</body>

</html>