<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Page Info -->
  <title>Kelvin Duong ECE 140B</title>
  <meta name="author" content="Kelvin Duong">
  <meta name="description" content="140B Landing Page">

  <link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<body>

  <div class='hero'>
    <h1 id = 'top'> PlantPal </h1>
    <p> Landing page for my ECE 140B project </p>
  </div>

  <section class='padding-responsive'>
    <div class="flex-container">
      <div><a href="#kvp">Key Value Proposition</a></div>
      <div><a href="#pp">Product Page</a></div>
      <div><a href="#tm">Team Members</a></div>
      <div><a href="#up">Updates</a></div>
    </div>
    <div class='separator' id='kvp'>Key Value Proposition</div>
    <div class='update'>
      <h4>Key Value Proposition</h4>
      <p>Our plant monitoring system, PlantPal, helps amateur gardeners who wish to learn proper plant maintenance for healthier plants by displaying soil moisture, sunlight, and temperature history on our app and sending reminders and tips for plant maintenance. Unlike passive maintenance systems such as automated sprinklers, our product actively reads plant data to provide more optimate caretaking. Additionally, our product acts as a learning tool for amateur hobbyists who want to learn more about gardening</p>
    </div>
    <div class='separator' id='pp'>Product Page</div>
    <div class='update'>
      <h4>Product</h4>
      <p>PlantPal is a network of devices to monitor various factors such as soil moisture, sunlight levels, and temperature to provide optimal instructions for plant maintenance. PlantPal works by taking readings from capacitive PCB, a photoresistor, and a thermistor. The capacitive PCB will stick into the soil of a plant that needs monitoring and will read voltage outputs from a pulse. Depending on the moisture content of the soil, the capacitance in the circuit changes which will distort the pulse. From these distortions, we can extrapolate the moisture content of the soil. Similarly, we will use readings from a photoresistor and a thermistor to read sunlight levels and temperature. Our product will record the history of these variables and present them graphically on our UI. Based on these readings, our product will provide instructions via reminders through our app for plant maintenance such as watering, draining, or moving locations to optimize healthy plant growth.</p>
      <h4>Customer</h4>
      <p>This product is designed for amateur hobbyists who want to get into gardening. Nowadays plants are imported from all parts of the world. Each plant thrives in different conditions and as a novice gardener, it is difficult to determine the optimate conditions for each plant to prevent them from dying. Our product acts as a trainer by providing reminders, tips, and instructions for plant maintenance for beautiful, healthy plants.</p>
      <h4>Key Benefits</h4>
      <p>A key benefit of our product is active monitoring. Because our product is constantly reading plant growth variables we're able to provide optimal instruction for plant maintenance resulting in a healthier plant. </p>

    </div>

    <div class='separator' id='tm'>Team Members</div>

    <table class='margin-top-xl'>
      <thead>
        <tr>
          <th class='small'> Name </th>
          <th class='large'> Email </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> Adin Ackerman </td>
          <td> aiackerman@ucsd.edu </td>
        </tr>
        <tr>
          <td> Michael Brown </td>
          <td> m9brown@ucsd.edu </td>
        </tr>
        <tr>
          <td> Kelvin Duong </td>
          <td> k6duong@ucsd.edu </td>
        </tr>
        <tr>
          <td> Jerome Lam </td>
          <td> j2lam@ucsd.edu </td>
        </tr>
      </tbody>
    </table>

    <div class='separator'>Project Updates</div>
    <div class='update'>
      <h3>Week 2</h3>
      <h4>Product Proposal</h4>
      <p>We would like to introduct our product PlantPal. PlantPal is a set of devices read moisture, sunlight, and temperature data to monitor the health of your plants. The devices are all connected to a centralized database which is viewable via our phone app. The product is designed to help individuals learn or improve their plant caretaking skills.</p>
      <h4>Early Market Research</h4>
      <p>We presented our initial proposal to friends and family who engjoy gardening and asked wether or not they would be interested in buying a finished product. From our poll 11/12 would be interested in our product showing that it potential for our customer base. We also asked wether they saw the product as a vitamin or painkiller and the customers were fairly split with 58.3% claiming the product was vitamin while the other 41.7 claiming the product to be a pain killer. </p>
      <h4>Plans</h4>
      <p>We are at the start of the development process so there isn't much to update regarding the project. We created a github project board for project management and set goals for our project including getting the bluetooth on our MCU to work so we can connect it our phones. </p>
    </div>

    <div class='update'>
      <h3>Week 3</h3>
      <h4>Bluetooth</h4>
      <p>This week were were able to successfully connect the ESP32 board to bluetooth and communicate with our phones. We created a simple test to turn on an LED. We successfully paired the board to the phone's bluetooth and were able to toggle the LED light remotely.</p>
      <h4>Plans</h4>
      <p>Our plan for the next week is to work on the PCB for our product. The goal is to build a capacitive circuit that will stick into the soil and read voltage values. Depending on the soil's moisture content the capacitance of the circuit will change which should affect the voltage readings. Based on this well will determine the soil's moisture content.
      <p>
    </div>
    
     <div class='cur-update'id='up'>
      <h3>Week 4</h3>
      <h4>Electronics</h4>
      <p>This week we made progress towards our battery charging circuit and the PCV. Initially we were set on using a solar pannel so that we would not have to recharge the battery for the device. We decided that for the interest of time we would just use a coin cell battery to power the device for this class and possibly implement a solar panel in future updates. We started making progress towards the PCB and the capacitive circuit to measure soil moisture</p>
      <h4>Plans</h4>
      <p>Our plan for the next week is to finish designing the PCB so we can place an order for it to be manufactured. After the PCB arrives we'll assemble our product's circuit board. We also have plans to work on the software for the app that interfaces with the devices to collect data.
    </div>
    <div class='upcoming'>
      <p>Come back next week for more updates</p>
    </div>
    <a href="#top">Back To The Top</a>
    <div class='separator'>
      Survey
    </div>
    <section class='responsive_grid'>

      <div class='field'>
        <label> Enter your first name: &nbsp;</label>
        <input type='text' name='name' value='' class='margin-top-lg'>
      </div>
    </section>

    <section class='responsive_grid'>
      <div class="field">
        <label> Do you like this page? </label>
        <label class="margin-top-lg control control--checkbox">Yes
          <input type="checkbox" checked="checked" />
          <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox">No
          <input type="checkbox" />
          <div class="control__indicator"></div>
        </label>
      </div>

      <div class="field">
        <label> Are you having a good day? </label>
        <label class="margin-top-lg control control--radio">Yes
          <input type="radio" name="radio" checked="checked" />
          <div class="control__indicator"></div>
        </label>
        <label class="control control--radio">No
          <input type="radio" name="radio" />
          <div class="control__indicator"></div>
        </label>
      </div>
    </section>

    </form>

  </section>
</body>

</html>